code {
	background: none !important;
}

body {
	margin-top: 50px;
}

.answers {
	border-top: none;
	border-radius: 0px 0px 5px 5px;
	box-shadow: none;
	border-color: #DDDDDD;
}


:focus {
  outline-color: transparent;
  outline-style: none;
}