<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<section>
<input type="text" ng-model="search" class="search-query pull-left" placeholder="Search">
<button ng-click="open()" class="btn btn-primary pull-right"><i class="icon-white icon-plus"></i>Add new question</button>
</section>
<br/>
<table ng-table="tableParams" class="table table-hover">
<thead>
	<tr>
		<th width="60">Language</th>
		<th width="30">Difficulty</th>
		<th>Question</th>
		<th></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="question in questions | filter:search">
		<td data-title="'Language'">
			{{question.language}}
		</td>
		<td data-title="'Difficulty'">
			{{question.difficulty}}
		</td>
		<td data-title="'Question'" >
			{{question.question}}
		</td>
		<td data-title="'Actions'" width="200">
			<a ng-click="open(question.$id)" class="btn btn-primary btn-xs">Edit</a>
			<a ng-click="preview(question.$id)" class="btn btn-default btn-xs">Preview</a>
			<a ng-click="removeRecord(question.$id)" class="btn btn-default btn-xs">Delete</a>

			
		</td>
	</tr>
</tbody>
</table>